.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    text-align: center;
}

.services-title {
    position: relative;
}

.services-title h1 {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}

.services-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* Services Grid */
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-bottom: 80px;
    width: 100%;
    max-width: 1200px;
}

/* Individual Service Cards */
.services-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-radius: 12px;
    background: rgba(50, 50, 50, 0.2);
    transition: transform 0.3s ease-in-out, background 0.3s;
    cursor: pointer;
    text-align: left;
}

/* Hover Effect for Depth */
.services-card:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.1);
}

/* Service Numbers */
.services-card h3 {
    font-size: 26px;
    font-weight: 600;
}

/* Service Titles */
.services-card h2 {
    font-size: 32px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Service Description */
.services-card p {
    color: #d4d4d4;
    font-size: 20px;
    line-height: 1.5;
    max-width: 300px;
}

/* Read More Button */
.read-more {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: #DA7C25;
    cursor: pointer;
    transition: color 0.3s;
}

.read-more img {
    width: 16px;
    transition: transform 0.3s;
}

.read-more:hover img {
    transform: translateX(5px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .services {
        gap: 60px;
        margin: 50px 20px;
    }

    .services-title h1 {
        font-size: 50px;
    }

    .services-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .services-card {
        padding: 30px;
    }

    .services-card h2 {
        font-size: 26px;
    }

    .services-card p {
        font-size: 18px;
        max-width: 100%;
    }
}
